{% extends "base.html" %}
{% load static %}
{% block content %}

    <div id="index-cover">
        <h1>TICE Project</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dolorem fugiat officia suscipit? Animi
            aperiam architecto culpa, delectus dicta earum est ipsum iste maiores molestiae mollitia omnis quidem
            reiciendis
            ut.
        </p>
    </div>

    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col index-layout">
            <i class="material-icons">backup</i> <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis corporis cumque deserunt doloremque,
                eaque excepturi explicabo fugit illum laudantium nobis odit officiis quae qui quos sunt suscipit veniam
                vero voluptate?</p>
        </div>

        <div class="mdl-cell mdl-cell--4-col index-layout">
            <i class="material-icons">backup</i> <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis corporis cumque deserunt doloremque,
                eaque excepturi explicabo fugit illum laudantium nobis odit officiis quae qui quos sunt suscipit veniam
                vero voluptate?</p>
        </div>

        <div class="mdl-cell mdl-cell--4-col index-layout">
            <i class="material-icons">backup</i> <br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis corporis cumque deserunt doloremque,
                eaque excepturi explicabo fugit illum laudantium nobis odit officiis quae qui quos sunt suscipit veniam
                vero voluptate?</p>
        </div>
    </div>
{% endblock %}
