{% extends "base.html" %}
{% block title %}Log-in{% endblock %}
{% block content %}

    <h3>Connexion</h3>

    <div class="form" >
        <form action="{% url 'gestion:login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
{#            <p><input type="submit" value="Log-in"></p>#}
            <button class="btn waves-effect waves-light" type="submit">Connexion
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>

    <br/>
    <br/>
    <p class="header col s12 light">Si vous n'avez pas de compte
        <a href="{% url "gestion:register" %}"> cliquez ici</a>.</p>

{% endblock %}
