{% extends "gestion/dashboard.html" %}
{#{% block title %}Dashboard cotegorie{% endblock %}#}
{% block content2 %}

    <span class="mdl-layout-title">Consultation</span>


    <ul class="demo-list-two mdl-list">


            <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
                <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Formation</th>
                    <th>Date du teste</th>
                    <th>Note</th>
                </tr>
                </thead>
                <tbody>
                {% for article in derniers_articles %}
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">{{ article.id_form.lib_form }}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{ article.date_test }}</td>
                    <td><strong>{{ article.note_test }}</strong></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>


    </ul>



{% endblock %}
