{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}

<!-- Page Layout here -->

<div class="row">
  <div class=" profile-dashboard hide-on-med-and-down col s12 m4 l2">
    <div class="collection">
      <a href="#!" class="collection-item">Alvin</a>
      <a href="#!" class="collection-item active">Alvin</a>
      <a href="#!" class="collection-item">Alvin</a>
      <a href="#!" class="collection-item">Alvin</a>
      <a href="#!" class="collection-item">Alvin</a>
      <a href="#!" class="collection-item">Alvin</a>
      <a href="#!" class="collection-item">Alvin</a>
      <a href="#!" class="collection-item">Alvin</a>
      <a href="#!" class="collection-item">Alvin</a>

    </div>
  </div>
  <div class="col s12 m8 l10">
    <!---->

    <h2>{{ object.username }}</h2>
    {% if object.name %}
    <p>{{ object.name }}</p>
    {% endif %}


    {% if object == request.user %}

    <a class="btn btn-primary" href="{% url 'users:update' %}">My Info</a>
    <a class="btn btn-primary" href="{% url 'account_email' %}">E-Mail</a>

    {% endif %}

    <!---->
  </div>

</div>


{% endblock content %}

{% block footer%}
{% endblock footer%}
