{% extends "gestion/dashboard.html" %}
{#{% block title %}Dashboard cotegorie{% endblock %}#}
{% block content2 %}

    <span class="mdl-layout-title">Animation</span>

    {% for article in derniers_articles %}
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--1-col">

                <div class="demo-card-event mdl-card mdl-shadow--2dp">
                    <div class=" mdl-card--expand">
                        <h4>
                            <p class="me_card"><strong>Animation : </strong> {{ id_util.user.last_name }} - {{ id_form.lib_form }}</p>
                        </h4>
                        <p class="me_card"><strong>ajoute le : </strong>{{ article.created }}</p>
                        <p class="me_card"><strong>modifie le : </strong>{{ article.modified }}</p>

                    </div>
                    <div class="mdl-card__actions mdl-card--border">
                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                           href="{% url "gestion:update_anime" article.id %}">
                            Modifier
                        </a>

                        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                           href="{% url "gestion:delete_anime" article.id %}">
                            Supprimer
                        </a>
                        <div class="mdl-layout-spacer"></div>
                        <i class="material-icons">event</i>
                    </div>
                </div>
            </div>

        </div>

    {% endfor %}

    <!-- Colored FAB button -->
    <a href="{% url "gestion:create_anime" %}" id="view-source" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
        <i class="material-icons">add</i>
    </a>

{% endblock %}
