{% extends "gestion/dashboard.html" %}
{% load material_form %}


{% block content2 %}

    {% if sauvegarde %}
        <p>Ce contact a bien été enregistré.</p>
    {% endif %}

    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <p>
        <form action="{% url "gestion:create_ressource" %}" method="post" enctype="multipart/form-data" action=".">
            {% csrf_token %}
            {% form form=form %}{% endform %}
            <input class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit"/>
        </form>
        </p>
    </div>

{% endblock %}
