<html>
<body>
<h1>Liste Etudiant Inscrit : </h1>

<table>
    <thead>
    <tr>
        <th>identifiant</th>
        <th>nom</th>
        <th>prenom</th>
        <th>email</th>
        <th>grade</th>
        <th>diplome</th>
        <th>formation</th>
    </tr>
    </thead>
    <tbody>

    <tr class="row{% cycle "1" "2" %}">
        <td>{{ ex.user.last_name }}</td>
        <td>{{ ex.user.first_name }}</td>
        <td>{{ ex.user.email }}</td>
        <td>{{ ex.grade_util }}</td>
        <td>{{ ex.diplome_appr }}</td>
        <td>{{ ex.formation.lib_form }}</td>
    </tr>

    </tbody>
</table>

</body>
</html>
