{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="TICE platform">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

<title>{% block title %}TICE Project{% endblock %}</title>
    <!-- Page styles -->
    {% block css %}
        <link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en"
              rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/material.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% endblock %}

</head>

<body>
{% block navbar %}

{% endblock %}

    <main>
        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock content %}

    </main>

{% block footer %}

{% endblock %}

{% block javascript %}
    <script src="{% static 'material.min.js' %}"></script>
{% endblock %}
</body>
</html>
